{% load static %}

<title>About me Website</title>
<a href="/aboutme">Aboutme</a>
 <a href="nextpage">Photo Gallery</a>
<h1><center>AboutMe</center></h1>
	<center><img src="{% static 'images/steve.JPG' %}" height="250" width="250" /></center>
	<center>I am Steven Vincent Saludares. I am the eldest among our siblings. I was born on the year 1997 in Bacolod.
    My hobbies include basketball and computer games. I am really into anime.</p></center>
<center>I collect anime series and anime movies as my collection. I spent most of my time in school and if I get home i mostly relax and perform activities I want or do assigned work for school. </center>


        <body background={% static 'images/Bc.JPG' %}>
<body>

</body>
</html>